.bundle/
coverage/
doc/
Gemfile.lock
.idea/
*.iml
.librarian/
log/
pkg/
.project
Puppetfile.lock
spec/fixtures/
*.swn
*.swo
*.swp
.vagrant/
vagrant/modules/
vendor/
.yardoc/
/.vagrant/
/vagrant/modules/
