.bundle/
coverage/
doc/
Gemfile.lock
.idea/
*.iml
.librarian/
log/
modules/
pkg/
.project
Puppetfile.lock
spec/fixtures/
*.swn
*.swo
*.swp
.tmp/
.travis/secrets.tar
.vagrant/
vagrant/environments/production/.gitignore
vendor/
.yardoc/
